@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

html,
body {
    height: 100%;
}

header,
.title-bar {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

.title-bar h1 {
    font-family: 'Roboto', monospace, sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

p {
    font-family: 'Roboto', monospace, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', monospace, sans-serif;
}

a:visited {
    color: aquamarine;
}

.duck {
    height: auto;
    width: 100px;
    border-radius: 5%;
    border: 4px solid #3882F3;
    margin: 16px;
    padding: 16px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.quote h1 {
    font-family: 'Roboto', monospace, sans-serif;
    font-size: 32px;
    font-style: italic;
    flex: 2;
}

.quote .quoter {
    font-family: 'Roboto', monospace, sans-serif;
    font-size: 18px;
    font-weight: bold;
    flex: auto;
}
